* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.scratch {
    position: relative;
    cursor: pointer;
    /* don't select this */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
.scratch > * {
    display: none; /* default to hidden */
}
.scratch-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 100;
    /* don't select this */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.card {
    background: #fff8f4;
    width: 20em;
    height: 4em;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 50;
}
.course {
    float: left;
    margin: 1.5em 0 1.5em 1em;
}
.course:after {
    content: '：'
}
.score {
    float: right;
    margin: 1.5em 1em 1.5em 0;
    padding: 0.2em 0.8ex;
}
.score:after {
    content: ' 分'
}
